<launch>

<!-- 可选的航点文件加载 -->
    <arg name="waypoints_file" default="$(env HOME)/waypoints.xml"/>

    <!-- 启动航点管理器节点 -->
    <node pkg="amr_map_tools" type="wp_waypoint_manager" name="wp_waypoint_manager" output="screen">
        <param name="load" value="$(arg waypoints_file)"/>
    </node>

    <!-- 航点导航控制器节点 -->
    <node pkg="wp_nav_controller" type="wp_nav_controller_node" name="wp_nav_controller" output="screen">
    </node>

</launch>